html, body {
  background: #808080;
  font-family: -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', 'Roboto', 'Helvetica Neue', system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -moz-osx-font-smoothing: auto;
   -webkit-font-smoothing: antialiased;
}

header {
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

main {
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease-out;
}

a:link {
  color: #fff;
}

a:hover {
  color: #0ae;
}

a:active {
  color: #ea0;
}

a:visited {
  color: #eae;
}

a:visited:hover {
  color: #0ae;
}

table, th, td {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
}

input {
  width: 5em;
}
